<link href='https://fonts.googleapis.com/css?family=Diplomata SC' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
{% extends "base_html.html" %}

{% block content %}
<script>
function checkPostcode(){
var postcode = document.getElementsByName('postcode')[0].value;
if(postcode == ""){
alert('Please enter the postcode');
}else{
alert('We are good to go! We offer both home delivery and Click & Collect for postcode ' + postcode + '. Please register yourself to shop');
document.forms['postcodeForm'].submit();
}
}
function cleanText(){
document.getElementsByName('postcode')[0].value = "";
}


</script>

<form action="register" method="post" name="postcodeForm" id="postcodeForm">
    {% csrf_token %}
    <table align="center">
        <tr>
            <td height="50"></td>
        </tr>
        <tr>
            <td > <font style="color:green; font-weight: bold; font-size:50px; font-family:'Diplomata SC'">ECART</font>&nbsp;&nbsp;&nbsp;&nbsp;<font style="color:orange; font-weight: bold; font-size:30px; font-family:'Diplomata SC'">Groceries</font></td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
    </table>
    <table bgcolor="#EBF5FB" style="margin-left:auto;margin-right:auto;" align="center" >
        <tr>
            <td>
                <table style="margin-left:auto;margin-right:auto;" align="center">

                    <tr>
                        <td style="padding-left: 15px;"><font size="3" color="#7D3C98" style="font-weight: bold; font-family:'ABeeZee'">New to ECart ?</font></td>
                    </tr>
                    <tr>
                        <td height="40"></td>
                    </tr>
                    <tr>
                        <td height="40" style="padding-left: 15px;"><font size="3" style="font-weight: bold;">Check your delivery and collection options&nbsp;&nbsp;</font></td>
                    </tr>
                    <tr>
                        <td style="padding-left: 15px;"><input type="text" id="postcode" name="postcode" size="15" required value="enter post code" onclick="cleanText()"/></td>
                    </tr>
                    <br><br>
                    <tr>
                        <td height="40" style="padding-left: 15px;"><input type="button" value="Check postcode"
                                               style="font-weight: bold; font-family:'ABeeZee'"
                                               onclick="checkPostcode()"></td>
                    </tr>
                    <tr>
                        <td height="40"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>
{% endblock content %}