
<link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>

{% extends "base_html.html" %}

{% block content %}
    <form action="catalog" method="post">
        {% csrf_token %}
    <table>
        <tr>
            <td height="150">
            </td>
        </tr>
    </table>
    <table bgcolor="#EBF5FB" style="margin-left:auto;margin-right:auto;">
        <tr><td height="70"><font style="color:orange; font-weight: bold; font-size:30px; font-family:'Diplomata SC'; padding-left: 15px;">Registration</font></td>
<tr><td>
    <table style="margin-left:auto;margin-right:auto;">

        <tr>
            <td height="40"><font size="3" style="font-weight: bold;padding-left: 15px;white-space: nowrap;">Mobile Number:&nbsp;&nbsp;&nbsp;</font> </td><td style="padding-right: 15px;"><input type="text" name="mobile" required width="30px">&nbsp;&nbsp;</td>
        </tr>
        <tr>
            <td height="40"><font size="3" style="font-weight: bold;padding-left: 15px;">Email Id:&nbsp;&nbsp;&nbsp;</font> </td><td style="padding-right: 15px;"><textarea rows="1" cols="30" name="email" required></textarea>&nbsp;&nbsp;</td>
        </tr>
         <tr>
             <td height="40"><font size="3" style="font-weight: bold;padding-left: 15px;white-space: nowrap;"">Delivery Address:&nbsp;&nbsp;&nbsp;</font></td><td style="padding-right: 15px;"> <textarea rows="3" cols="30" name="address" required></textarea>&nbsp; <font style="font-weight: bold; font-family:'ABeeZee'" color="blue">{{postcode}}</font> </td>
        </tr>
        <tr>
            <td height="40"><font size="3" style="font-weight: bold;padding-left: 15px;">Password:</font> &nbsp;&nbsp;&nbsp; </td><td><input type="password" name="pwd" required style="padding-right: 15px;"> &nbsp;</td>
        </tr>
       <tr>
            <td colspan="2" > <br><br></td>
        </tr>
        <tr>
            <td colspan="2" align="center" > <input type="submit" style="font-weight: bold; font-family:'ABeeZee'" ></td>
        </tr>
        <tr>
            <td colspan="2" > <br></td>
        </tr>
    </table>
            </td>
        </tr>
    </table>
    </form>
{% endblock content %}