{% extends "base_html.html" %}
{% block content %}
 {% csrf_token %}

    <table align="center" width="100%">
        <tr>
            <td height="50"></td>
        </tr>
        <tr>
            <td height="100" align="center"><font style="color:green; font-weight: bold; font-size:50px; font-family:'Diplomata SC';text-align:center">Thank You for the order</font>&nbsp;&nbsp;&nbsp;
            </td>

        </tr>
      <tr>
            <td height="50"  align="center"><a href="ecart">Shop again</a></td>
        </tr>
    </table>

{% endblock content %}